<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <!-- Директория для логов -->
        <Property name="logsDir">logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="RollingFileAppender" fileName="${logsDir}/hippodrome.log"
                     filePattern="${logsDir}/hippodrome.%d{yyyy-MM-dd}.log">

            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%thread] %logger{36} - %msg%n</Pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>

            <DefaultRolloverStrategy maxFiles="7">
                <Delete basePath="${logsDir}" maxDepth="1">
                    <IfFileName glob="hippodrome.*.log"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>

        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
    </Loggers>
</Configuration>